@charset "utf-8";
/* CSS Document */




/************************************************************/
/*access*/
/************************************************************/
#access .access-wrap{
	padding: 80px 0;
}
#access .access-wrap>.flex-box{
	align-items: flex-start;
}



/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){


}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){

	#access .flex-box{
		flex-direction: column;
	}
	#access .flex-box .flex-item{
		width: 100%;
	}
	#access .flex-box .flex-item.text{
		margin-bottom: 40px;
	}

}









