@charset "utf-8";
/* CSS Document */




/************************************************************/
/*contact*/
/************************************************************/

#contact h3{
	font-size: clamp( 2.4rem, 2.4vw, 4.2rem) ;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
	border-bottom: 5px dashed var(--color-main);
	margin-bottom: 20px;
	text-align: center;
}

.label-required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #ff6347;
  color: #fff;
  font-size: 14px;
}

#contact-phone, #contact-mail{
	padding-top: 80px;
}

#contact .contact-tel{
	text-align: center;
	margin: 0 auto;
	max-width: 900px;
}
#contact .contact-tel p:last-child{
	margin-bottom: 0;
}
#contact .contact-tel .tel-number{
	font-size: 2.4rem;
}
#contact .contact-tel .tel-number a{
	color: var(--color-main);
}

#contact dl{
	align-items: flex-start;
	margin-bottom: 20px;
}
#contact dt{
	width: 25%;
	margin-bottom: 5px;
}
#contact dd{
	width: 75%;
	margin-bottom: 20px;
}
#contact dd select,
#contact dd input,
#contact dd textarea{
	width: 100%;
	border: solid 1px #aaa;
	padding: 10px;
	font-size: 1.6rem;
}
#contact dd textarea{
	height: 10rem;
}


/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){


}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){

	#contact dl{
		flex-direction: column;
	}
	#contact dt,
	#contact dd{
		width: 100%;
	}

}









