@charset "utf-8";
/* CSS Document */


/************************************************************/
/*mainvisual*/
/************************************************************/
#mainvisual{
	padding-bottom: 0;
}

#mainvisual .slick-slide {
    margin: 10px;
}

/************************************************************/
/*news*/
/************************************************************/
#news .flex-box{
	align-items: flex-start;
}
#news .flex-item {
	width: 32%;
	margin-bottom: 40px;
}
#news .flex-item:hover{
	opacity: 0.8;
}

#news .img{
	margin-bottom: 10px;
}
#news .title{
	font-size: 2.0rem;
	margin-bottom: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#news .description{
	margin-bottom: 10px;
	flex-grow: 1;
}

/************************************************************/
/*about*/
/************************************************************/

#about .img .flex-item{
	width: calc(100% / 3);
}
#about .img .flex-item{
	height: 400px;
}
#about .img .flex-item img{
	height: 100%;
	object-fit:cover; 
}

#about .bg{
	background-image: url("../img/about-bg1.png");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

#about .text{
	margin: 0 auto;
	padding: 40px 4% 80px;
	max-width: 900px;
}
#about .syuukaku-program{
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
#about .syuukaku-program .flex-item{
	padding: 20px;
	border: 2px solid #aaa;
	border-radius: 30px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
#about .syuukaku-program .flex-item .img{
	margin-bottom: 10px;
}
#about .syuukaku-program .flex-item .title{
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 10px;
}
#about .syuukaku-program .flex-item .btn{
	margin-top: auto;
}

/************************************************************/
/*shop*/
/************************************************************/
#shop{
	background-image: url("../img/wave2.svg"),url("../img/wave1.svg"),url("../img/bg-index-shop.png");
	background-repeat: no-repeat,no-repeat,repeat;
	background-size:contain,contain,auto;
	background-position: top center, bottom center;
	background-color: #d1c8bc;
	padding: 120px 0;
}
#shop .shop-wrap{
	padding: 40px 5%;
	background-color: #fff;
	border-radius: 15px;
}


#shop .kakou .flex-box{
	flex-direction: row-reverse;
}
#shop .kakou ul{
	padding: 15px 15px 15px 40px;
	border:2px solid #333;
	border-radius: 30px;
}

#shop .kakou ul li{
	margin-bottom: 10px;
	list-style-type: circle;
}
#shop .kakou ul li:last-child{
	margin-bottom: 0;
}

/************************************************************/
/*recruit*/
/************************************************************/

#recruit h3{
	margin-bottom: 40px;
	text-align: center;
}
#recruit h3 span{
	font-size: 24px;
	background-image:linear-gradient( rgba(0 0 0 / 0) 70%, var(--bg-color) 70%);
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone; 
}
#recruit .slider-recruit{
	margin-bottom: 40px;
}
.slider-recruit .slick-slide {
	width: 300px;
	position: relative;
	overflow: hidden;
}
.slider-recruit .slick-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#recruit .flex-box{
	align-items: flex-start;
}
#recruit .flex-item{
	margin-bottom: 40px;
}
#recruit ol {
	counter-reset: number;
}
#recruit ol li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 2.5em;
	line-height: 2em;
}
#recruit ol li:last-child {
	margin-bottom: 0;
}
#recruit ol li:before{
	position: absolute;
	counter-increment: number;
	content: counter(number);
	display:inline-block;
	background: var(--accent-color);
	color: #fff;
	font-weight:bold;
	border-radius: 50%;
	left: 0;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/************************************************************/
/*access*/
/************************************************************/
#access{
	background-image: url("../img/wave2.svg"),url("../img/bg-index-access.png");
	background-repeat: no-repeat,repeat;
	background-size:contain,auto;
	background-position: top center, center;
	background-color: #d1c8bc;
}
#access dl{
	display: flex;
	flex-wrap: wrap;
}
#access dl dt,
#access dl dd{
	border: 1px solid #fff;
	padding: 10px;
}
#access dl dt{
	width: 30%;
	background-color: #bbb;
	text-align: center;
}
#access dl dd{
	width: 70%;
	background-color: #ddd;
}
#access .map{
	border: 5px solid #fff;
}

/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){

	#mainvisual .text {
		font-size: 3.2rem;
		top: 70px;
		left: 100px;
		writing-mode: vertical-rl;
	}
}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){


	
	/*news*/
	#news .flex-box{
		flex-direction: column;
	}
	#news .flex-item {
		width: 100%;
	}
	
	/*about*/
	#about .img{
		flex-direction: column;
	}
	#about .img .flex-item{
		width: 100%;
		height: 300px;
	}
	#about .syuukaku-program{
		flex-direction: column;
	}
	#about .syuukaku-program .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	#about .syuukaku-program .flex-item:last-child{
		margin-bottom: 0;
	}
	
	
	/*shop*/
	#shop .kakou .flex-box{
		flex-direction: column;
	}
	#shop .kakou .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	#shop .online .flex-box{
		flex-direction: column;
	}
	#shop .online .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	
	/*recruit*/
	#recruit .flex-box{
		flex-direction: column;
	}
	#recruit .flex-item{
		width: 100%;
	}
	
	/*access*/
	#access .flex-box{
		flex-direction: column;
	}
	#access .flex-item{
		width:100%;
	}
	#access dl{
		margin-bottom: 40px;
	}
}









