@charset "utf-8";
/* CSS Document */


/************************************************************/
/*mainvisual*/
/************************************************************/
#mainvisual{
	background-image: url("../img/bg-rt.png");
	background-position: right top;
	background-repeat: no-repeat;
}

#mainvisual .flex-left{
	width: 70%;
}
#mainvisual .flex-right{
	width: 30%;
	padding: 10px;
}

#mainvisual ul li{
	width: 100%;
	height: 800px;
}
#mainvisual ul li img{
	height: 100%;
	object-fit: cover;
	border-radius: 0 30px 30px 0;
}
#mainvisual .logo{
	margin-bottom: 20px;
}
#mainvisual .tategaki{
	font-size: 3.2rem;
	line-height: 1.5;
	margin: 0 auto;
	writing-mode: vertical-rl;
	color: #333;
}


/************************************************************/
/*about*/
/************************************************************/
#about p{
	text-align:center; 
	font-size: 3.2rem;
	margin-bottom: 40px;
}
#about .about-img{
	margin: 0 auto;
	max-width: 1500px;
}

/************************************************************/
/*event*/
/************************************************************/

.layout-block {
  display: flex;
  justify-content: space-between;
  gap: 0 2rem;
}

.box-conts {
	width: 32%;
  display: flex;
  flex-direction: column;
	margin-bottom: 40px;
}

.box-txt {
  padding: 1rem 0;
}

.box-btn {
  display: block;
  text-decoration: none;
  text-align: center;
	border-radius: 100vh;
	background-color: var(--accent-color);
  color: #333;
  padding: 0.5rem;
  margin-top: auto;
}

#event .event-img{
	height: 250px;
	margin-bottom: 20px;
}
#event .event-img img{
	height: 100%;
	object-fit: cover;
}
#event .title{
	font-size: 2.0rem;
	margin-bottom: 20px;
}
#event .description{
	margin-bottom: 20px;
}


/************************************************************/
/*features*/
/************************************************************/
#features{
		background-image: url("../img/wave2.svg"),url("../img/wave1.svg"),repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255, 255, 255, 1) 5px, rgba(255, 255, 255, 1) 10px );
	background-repeat: no-repeat,no-repeat;
	background-size:contain,contain;
	background-position: top center, bottom center;
	background-color: var(--bg-color);
	padding: 120px 0;
}
.features-wrap{
	padding: 40px 5%;
	background-color: #fff;
	border-radius: 15px;
}
#features .title{
	text-align: center;
	font-size: clamp( 2.4rem, 2.4vw, 3.6rem) ;
	margin-bottom: 40px;
}
#features .title span{
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: var(--accent-color);
	text-align:center;
	line-height: 1.5em;
	margin-right: 5px;
}

#features .features-item-wrap{
	margin-bottom: 40px;
}

#features .season .flex-item{
	width: 24%;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}


#features .season img{
	transition:transform .6s ease;
}
#features .season img:hover{
	transform:scale(1.3);
	transition:transform .6s ease;
}
#features .season .flex-item p{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 7.2rem;
}

#features .kakou ul{
	padding: 15px 15px 15px 40px;
	border:2px solid #333;
	border-radius: 30px;
	margin-bottom: 40px;
	
}

#features .kakou ul li{
	margin-bottom: 10px;
	list-style-type: circle;
}
#features .kakou ul li:last-child{
	margin-bottom: 0;
}
/************************************************************/
/*recruit*/
/************************************************************/
#recruit .slider-8{
	margin-bottom: 40px;
}
.slider-8 .slick-slide {
  width: 300px;
  position: relative;
  overflow: hidden;
}
.slider-8 .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/************************************************************/
/*access*/
/************************************************************/
#access{
	background-image: url("../img/wave2.svg"),url("../img/wave1.svg");
	background-repeat: no-repeat,no-repeat;
	background-size:contain,contain;
	background-position: top center, bottom center;
	background-color: var(--bg-color);
	padding: 120px 0;
}
#access .sec-title span{
	border-bottom: 5px dashed #fff;
}
.access-box{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.access-item{
	width:48%;
	margin-bottom: 40px;
}


.access-table th{
	width: 35%;
	padding: 40px 10px;
	text-align: center;
	background-color: var(--accent-color);
	color: #333;
	border: 2px solid #333;
}
.access-table td{
	width: 65%;
	padding: 40px 10px;
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
}

/************************************************************/
/*news*/
/************************************************************/

#news{
	background-image: url("../img/bg-lb.png");
		background-position: left bottom;
		background-repeat: no-repeat;
}
.news-wrap{
	margin: 0 auto 40px;
	max-width: 1000px;
	background-color: var(--accent-color);
	color: #333;
	border-radius: 30px;
	padding: 40px 30px;
	width: 100%;
}

#news h2.news-title{
	text-align: center;
	font-size: 4.2rem;
	margin-bottom: 40px;
	border-bottom: 5px dashed #fff;
	color: #333;
}

#news ul{
	background-color: #fff;
	padding: 40px;
	margin-bottom: 10px;
	border-radius: 30px;
	border: 2px solid #333;
}
#news ul li{
	padding: 20px 0;
	border-bottom: 1px dashed #785757;
}
#news ul li:last-child{
	border-bottom: none;
}
#news ul li a:hover{
	text-decoration: underline; 
}
#news .flex-left{
	width: 150px;
	height: 150px;
}
#news .flex-left img{
	height: 100%;
	object-fit: cover;
}
#news .flex-right{
	flex: 1;
	padding-left: 20px;
}

#news .news-page{
	text-align: right;
}

#news .news-page a{
	color: #333;
}
#news .news-page a:hover{
	text-decoration: underline; 
}

/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){


}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){

	#mainvisual{
		background: none;
	}
	#mainvisual .flex-box{
		flex-direction: column;
	}
	#mainvisual .flex-left{
		width: 100%;
	}
	#mainvisual .flex-right{
	background-image: url("../img/bg-rt.png");
		background-position: right top;
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
	}
	#mainvisual ul li{
		height: 400px;
	}
	#mainvisual ul li img{
		border-radius: 0 ;
	}
	#mainvisual .tategaki{
		font-size: 2.0rem;
		writing-mode: horizontal-tb;
		text-align: center
	}

	#about p{
		text-align:left; 
		font-size: 2.4rem;
	}
	
	#event .flex-item{
		width: 100%;
	}
	
	
	.layout-block {
		flex-direction: column;
	}

	.box-conts {
		width: 100%;
	}
	
	
	#features .features-item-wrap{
		margin-bottom: 80px;
	}
	#features .season .flex-item{
		width: 48%;
	}
	#features .kakou .flex-box{
		flex-direction: column-reverse;
	}
	#features .kakou .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	#features .online .flex-box{
		flex-direction: column;
	}
	#features .online .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	
	#recruit .flex-box{
		flex-direction: column;
	}
	#recruit .flex-item{
		width: 100%;
		margin-bottom: 40px;
	}
	
	.access-box{
		flex-direction: column;
	}
	.access-item{
		width:100%;
	}
	
}









