@charset "utf-8";
/* CSS Document */


/************************************************************/
/*nouen_program*/
/************************************************************/


#nouen_program .subpage-titlebox{
	background-image: url("../img/mainvisual_nouen_program.jpg");
}

#nouen_program .program-wrap{
	padding-top: 80px;
}

#nouen_program h3{
	font-size: clamp( 2.4rem, 2.4vw, 4.2rem) ;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
	border-bottom: 5px dashed var(--color-main);
	margin-bottom: 20px;
	text-align: center;
}

#nouen_program .program-description{
	margin-bottom: 40px;
}

#nouen_program ul.program-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#nouen_program ul.program-box li{
	width:32%;
	margin-bottom: 40px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#nouen_program ul.program-box li img{
	margin-bottom: 10px;
}
#nouen_program ul.program-box li .title{
	text-align: center;
	font-size: 2.0rem;
	margin-bottom: 10px;
}
#nouen_program ul.program-box li .btn-mini{
	margin-top: auto;
}

.remodal .flex-box{
	align-items: flex-start;
}
.remodal .img img{
	margin-bottom: 20px;
}
.remodal .text{
	text-align: left;
	padding-left: 20px;
	margin-bottom: 20px;
	font-size: 1.6rem;
}
.remodal h4{
	font-size: 2.0rem;
	margin-bottom: 10px;
}

/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){

	#nouen_program ul.program-box li{
		width:50%;
	}

}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){

	#nouen_program .internal-btn-wrap li.flex-item{
		width: 100%;
		margin-bottom: 20px;
	}
	#nouen_program .internal-btn-wrap li.flex-item:last-child{
		margin-bottom: 0;
	}
	
	#nouen_program ul.program-box{
		flex-direction:column; 
	}
	#nouen_program ul.program-box li{
		width:100%;
	}
	
	.remodal .flex-box{
		flex-direction: column-reverse;
	}
	.remodal .img,
	.remodal .text{
		width: 100%;
		padding: 0;
	}
}









