@charset "utf-8";
/* CSS Document */


/*
z-indexのルール

背面要素 : -10 ～ -1
基準値 : 0
普段使うもの : 1 ～ 10
ハンバーガーメニュー押下:998, 999
header : 1000
loading : 9999

*/


@font-face {
	font-family: 'MPLUSRounded1c';
	src: url('../font/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf') format('truetype');
}

:root {
	--accent-color: #6b8e23;
	--bg-color: #f6baba;
}

/************************************************************/
/*reset css*/
/************************************************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
	list-style-type: none;
	text-decoration: none;
}

table{
	 border-collapse:  collapse; 
	border-spacing: 0;
}

img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

html{
	font-size: 62.5%;
}

/************************************************************/
/************************************************************/

body{
	background-color: #fff;
	color: #333;
	line-height: 1.5;
	font-weight: bold;
	font-size: 1.6rem;
	font-family: 'MPLUSRounded1c',"Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
	letter-spacing: 0.05em;
}

a{
	color: #333;
}

p{
	margin-bottom: 20px;
}

.contents{
	margin: 0 auto;
	padding: 0 4%;
	max-width: 1280px;
}

section{
	padding: 80px 0;
}

section:last-child{
	padding-bottom: 120px;
}

/*flex*/
.flex-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.flex-item{
	width: 48%;
}

/*見出し*/
.site-title {
	width: 120px;
	line-height: 1px;
}

.site-title a {
	display: block;
}

.sec-title{
	width: 100%;
	display: inline-block;
	margin: 0 auto 40px;
	padding-top: 45px;
	font-size: 42px;
	text-align: center;
	letter-spacing: 0.1em;
}
.sec-title span{
	padding-bottom: 5px;
	border-bottom: 2px dashed var(--accent-color);
}
.sec-title::before{
	content: attr(data-en);
	display: block;
	color: var(--accent-color);
	font-size: 32px;
	text-transform: uppercase;
}

.num-title{
	position: relative;
	margin-bottom: 40px;
	font-size: 32px;
	text-align: center;
	letter-spacing: 0.1em;
}
.num-title::before{
	content: attr(data-number);
	display: block;
	color: var(--accent-color);
	font-size: 60px;
}

/*正円*/
.circle {
    position: relative;
    overflow: hidden;
	overflow: hidden;
	border-radius: 50%;
}

.circle::before{
    content: "";
    padding-top: 100%;
    display: block;
}
.circle img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}



/*ボタン*/
.btn {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 500px;
	height: 50px;
	position: relative;
	background: var(--accent-color);
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
	transition-duration: 0.3s;
	cursor: pointer;
}

.btn::after{
	content: '';
	width: 8px;
	height: 8px;
	border: 0;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -6px;
}

.btn:hover {
	opacity: 0.7;
}


.btn.btn-internal {
	color: #333;
	background-color: var(--bg-color);
}
.btn.btn-internal::after{
	border-top: 2px solid #333;
	border-right: 2px solid #333;
	transform: rotate(135deg);
}


/*ラベル関係*/
.label{
	position: relative;
}

.label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
	left: 0;
    color: #fff;
	background-color: #000;
	padding: 10px;
    z-index: 1;
	font-weight: normal;
}

.label.open::after {
    content: "開催中！";
	background-color: #b22222;
}

.label.new::after {
    content: "NEW！";
	background-color: #00ced1;
}

.label.junbi::after {
    content: "準備中";
	background-color: #b8860b;
}

.label.finish::after {
    content: "今年終了";
	background-color: #b8860b;
}


/************************************************************/
/*subpage-title*/
/************************************************************/
.subpage-title{
	height: 250px;
	position: relative;
	margin-bottom: 40px;
	background-color: #000;
}
.subpage-title img{
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
}
.subpage-title h2{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color: #fff;
	font-size: clamp( 2.4rem, 2.4vw, 4.8rem);
	letter-spacing: 0.1em;
}
/*breadcrumb　（パンくずリスト）*/
.breadcrumb {
	padding: 10px;
	position:absolute;
	top: 0;
	left: 0;
	color: #fff;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li:after {
	content: '>';
	padding: 0 10px;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	color: #fff;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}


/************************************************************/
/*header*/
/************************************************************/

.header-wrap{
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.header-list{
	display: flex;
	align-items: center;
}
.header-list ul{
	display: flex;
}

.header-list ul li{
	padding: 0 10px;
	border-right: 1px solid #333;
}

.header-list ul li:last-child{
	border-right: 0;
}
.header-list ul li a:hover{
	text-decoration: underline;
}

.header-btn{
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px center;
	background-color: var(--accent-color);
	padding: 10px 10px 10px 50px;
	margin: 0 5px;
	color: #fff;
	transition-duration: 0.3s;
}
.header-btn.cart{
	background-image: url("../img/cart.svg");
}
.header-btn.contact{
	background-image: url("../img/mail.svg");
}
.header-btn:hover{
	opacity: 0.7;
}

.openbtn{
	position:relative;
	cursor: pointer;
    width: 50px;
    height: 50px;
	background-color: var(--accent-color);
	border-radius: 50%;
}
	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


#g-nav.panelactive{
    position: fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

.circle-bg{
    position: fixed;
	z-index:998;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--accent-color);
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

#g-nav-list{
    display: none;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block;
}

#g-nav .nav-wrap{
	opacity: 0;
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
	animation-name:gnaviAnime;
	animation-duration:1s;
	animation-delay:.2s;/*0.2 秒遅らせて出現*/
	animation-fill-mode:forwards;
	opacity:0;
}

@keyframes gnaviAnime{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: #fff;
	padding: 10px 0;
	display: block;
	font-weight: bold;
	font-size: 2.0rem;
}
#g-nav li a:hover{
	text-decoration: underline; 
}
#g-nav .header-btn{
	display: block;
	margin: 20px;
	border: 3px solid #fff;
}

/************************************************************/
/*footer*/
/************************************************************/
footer{
	color: #fff;
	position: relative;
	text-align: center;
}
footer a{
	color: #fff;
}

#footer-pagetop{
    width: 126px;
    height: 126px;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
#footer-pagetop:hover{
	opacity: 1;
}
#footer-pagetop img{
	width: 50px;
	margin-bottom: 5px;
}
footer .site-title{
	margin: 0 auto 40px;
	width: 50%;
}
footer .footer-wrap{
	padding: 80px 4% 0;
	background-color: var(--accent-color);
}

footer .copyright{
	text-align:center;
	padding: 20px 0;
	margin-bottom: 0;
}




/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){
	.sp-only{
		display: none;
	}
	.pc-none{
		display: none;
	}
}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){
	.sp-only{
		display: none;
	}
	.pc-only{
		display: none;
	}
}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){
	.sp-none{
		display: none;
	}
	.pc-only{
		display: none;
	}
	#mainvisual-sub{
		height: 250px;
	}
	
	footer .flex-box{
		flex-direction: column;
	}
	footer .flex-item{
		width: 100%;
	}
}























