@charset "utf-8";
/* CSS Document */

/* 背景：#ba2636 */
/*アクセント : #008080*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
	list-style-type: none;
	text-decoration: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

html{
	font-size: 62.5%;
}

body{
	background-color: #ba2636;
	color: #fff;
	font-weight: bold;
	font-size: 1.6rem;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
}
img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.circle {
    position: relative;
    overflow: hidden;
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #333;
}

.circle::before{
    content: "";
    padding-top: 100%;
    display: block;
}
.circle img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}




a{
	color: #333;
}

.wrap{
	margin: 0 auto;
	padding: 0 2%;
	max-width: 1280px;
}
.contents{
	margin: 0 auto;
	padding: 0 4%;
	max-width: 1280px;
}
main{
    overflow: hidden;
}
section{
	padding: 100px 0;
}
.site-title {
	margin-top: 15px;
	width: 120px;
	line-height: 1px;
}
.site-title a {
	display: block;
}

.sec-title{
	text-align: center;
	font-size: 3.6rem;
	margin-bottom: 40px;
}
.contents-title{
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 40px;
}


a.btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	max-width: 500px;
	margin: auto;
	padding: 20px 40px;
	font-weight: bold;
	font-size: 2.4rem;
	border: 5px solid #333;
	background: #008080;
	color: #fff;
	border-radius: 30px;
	transition: 0.5s;
}
a.btn:hover {
	background: #fff;
	color: #333;
}

.fadein {
  opacity : 0;
  transform : translate(0, 50px);
  transition : all 0.5s;
}
 
.fadein.active{
  opacity : 1;
  transform : translate(0, 0);
}


/************************************************************/
/*header*/
/************************************************************/
header{
	position: fixed;
	z-index: 9001;
	width: 100%;
	top:0;
	left:0;
}
.header-wrap{
	display: flex;
	justify-content: space-between;
}


.openbtn{
	position: relative;
	background-color: #008080;
	cursor: pointer;
    width: 70px;
    height: 100px;
	border-radius: 0 0 30px 30px;
}

.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 15px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 40px;
  }

.openbtn span:nth-of-type(1) {
	top:40px;	
}

.openbtn span:nth-of-type(2) {
	top:55px;
}

.openbtn span:nth-of-type(3) {
	top:70px;
}

.openbtn.active span:nth-of-type(1) {
    top: 35px;
    left: 15px;
    transform: translateY(20px) rotate(-45deg);
    width: 60%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 35px;
    left: 15px;
    transform: translateY(20px) rotate(45deg);
    width: 60%;
}

/************************************************************/
/*nav*/
/************************************************************/
.nav {
	position: fixed;
	z-index: 9000;
	top:-120%;
    left:0;
	width: 100%;
	padding: 0 5% 150px;
	border-radius: 0 0 150px 150px;
	transition: all 0.5s;
	background-color: #008080;
	color: #fff;
	opacity: 0;
}
.nav.show {
	top: 0;
	opacity: 1.0;
}

.nav ul{
	margin-top: 120px;
}

.nav ul li{
	font-size: 2.4rem;
	text-align: center;
	border-bottom: 2px dashed #fff;
	background-image: url("../img/icon.svg");
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 10px center;
}

.nav ul li:last-child{
	border-bottom: none;
}

.nav ul li a{
	display: block;
	color: #fff;
	padding: 20px 0;
}

.nav ul li:hover{
	background-color: rgba(255,255,255,0.3);
}



/************************************************************/
/*footer*/
/************************************************************/
footer{
	color: #fff;
	text-align: center;
	position: relative;
}

#footer-pagetop{
    width: 126px;
    height: 126px;
    background-color: #008080;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
}
#footer-pagetop img{
	width: 50px;
}
#footer-pagetop span{
	color: #fff;
}

footer .site-title{
	margin: 0 auto 40px;
}
.footer-wrap{
	padding-top: 80px;
	background-color: #008080;
}
.footer-title {
	width: 200px;
	line-height: 1px;
	margin-bottom: 15px;
}
.footer-title a {
	display: block;
}
footer ul{
	margin-bottom: 40px;
}
footer ul li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
footer ul li:last-child{
	margin-right: 0;
}
footer ul li a{
    color: #fff;
}
footer ul li a:hover{
	text-decoration: underline; 
}


footer .address{
	margin-bottom: 40px;
}

footer .copyright{
	text-align:center;
	padding: 0 0 20px 0;
}






/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){
	.tablet-only{
		display: none;
	}
	.sp-only{
		display: none;
	}
}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){
	.pc-only{
		display: none;
	}
	.sp-only{
		display: none;
	}
}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){
	.pc-only{
		display: none;
	}
	.tablet-only{
		display: none;
	}
.sec-title span{
	font-size: 3.6rem;
}
}























