@charset "utf-8";
/* CSS Document */


/*
z-indexのルール

背面要素 : -10 ～ -1
基準値 : 0
普段使うもの : 1 ～ 10
ハンバーガーメニュー押下:998, 999
header : 1000
loading : 9999

*/


@font-face {
	font-family: 'MPLUSRounded1c';
	src: url('../font/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Kalam';
	src: url('../font/Kalam/Kalam-Bold.ttf') format('truetype');
}

:root {
	--accent-color: #f00;
	--bg-color: #f00;
	--color-main: #4a6941;
	--color-sub: #f18d9e;
}

/************************************************************/
/*reset css*/
/************************************************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
	list-style-type: none;
	text-decoration: none;
}

table{
	 border-collapse:  collapse; 
	border-spacing: 0;
}

img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

html{
	font-size: 62.5%;
}

/************************************************************/
/************************************************************/

body{
	background-color: #fff;
	color: #333;
	line-height: 1.5;
	font-weight: bold;
	font-size: 2.0rem;
	font-family: 'MPLUSRounded1c',"Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
	letter-spacing: 0.05em;
}

a{
	color:#333;
	transition-duration: 0.3s;
}

p{
	margin-bottom: 20px;
}
p:last-child{
	margin-bottom: 0;
}

.contents{
	margin: 0 auto;
	padding: 0 4%;
	max-width: 1280px;
}



a.color-red{
	text-decoration: underline;
	color: #b22222;
}

.margin-bottom-0{
	margin-bottom: 0!important;
}
.margin-bottom-20{
	margin-bottom: 20px!important;
}
.margin-bottom-40{
	margin-bottom: 40px!important;
}
.margin-bottom-60{
	margin-bottom: 60px!important;
}
.margin-bottom-80{
	margin-bottom: 80px!important;
}

/*flex*/
.flex-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.flex-item{
	width: 48%;
}

/*見出し*/
.site-title {
	line-height: 1px;
}

.site-title a {
	display: block;
}

.site-title a:hover{
	opacity: 0.7;
}

.sec-title{
	width: 100%;
	display: inline-block;
	margin: 0 auto 40px;
	font-size: 42px;
	text-align: center;
}
.sec-title span{
	padding-bottom: 5px;
	border-bottom: 5px dashed var(--color-main);
}
.sec-title::before{
	content: attr(data-en);
	display: block;
	color: var(--color-main);
	font-size: 32px;
	text-transform: capitalize;
	font-family: 'Kalam', sans-serif;
}

.num-title{
	position: relative;
	margin-bottom: 40px;
	font-size: 32px;
	text-align: center;
}
.num-title::before{
	content: attr(data-number);
	display: block;
	color: var(--color-main);
	font-size: 60px;
}

/*正円*/
.circle {
    position: relative;
    overflow: hidden;
	overflow: hidden;
	border-radius: 50%;
}

.circle::before{
    content: "";
    padding-top: 100%;
    display: block;
}
.circle img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}


/*ボタン*/
.btn {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 500px;
	height: 50px;
	position: relative;
	background: var(--color-main);
	border: 3px solid var(--color-main);
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
	transition-duration: 0.3s;
	cursor: pointer;
}

.btn::after{
	content: '';
	width: 8px;
	height: 8px;
	border: 0;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -6px;
}

.btn:hover {
	color: var(--color-main);
	background-color: #fff;
}
.btn:hover::after {
	border-top: 2px solid var(--color-main);
	border-right: 2px solid var(--color-main);
}

.btn.btn-internal::after{
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(135deg);
}
.btn.btn-internal:hover::after {
	border-top: 2px solid var(--color-main);
	border-right: 2px solid var(--color-main);
}

.icon-btn{
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 10px center;
	background-color: var(--color-main);
	border: 3px solid #fff;
	padding: 10px 10px 10px 50px;
	max-width: 250px;
	color: #fff;
	transition-duration: 0.3s;
}
.icon-btn:hover{
	color: var(--color-main);;
	background-color: #fff;
	border:3px solid var(--color-main);
}
.icon-btn.cart{
	background-image: url("../img/cart-white.svg");
}
.icon-btn.cart:hover{
	background-image: url("../img/cart-green.svg");
}
.icon-btn.contact{
	background-image: url("../img/mail-white.svg");
}
.icon-btn.contact:hover{
	background-image: url("../img/mail-green.svg");
}



/*ラベル関係*/
.label{
	position: relative;
}

.label::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
	left: 0;
    color: #fff;
	background-color: #000;
	padding: 10px;
    z-index: 1;
	font-weight: normal;
}

.label.open::after {
    content: "開催中！";
	background-color: #b22222;
}

.label.new::after {
    content: "NEW！";
	background-color: #00ced1;
}

.label.junbi::after {
    content: "準備中";
	background-color: #b8860b;
}

.label.finish::after {
    content: "今年終了";
	background-color: #b8860b;
}

/*ジグザグ*/
.zigzag{
  position: relative;
}

.zigzag::before {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
	top: -50px;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(45deg, var(--color-main) 25%, transparent 25%), linear-gradient(315deg, var(--color-main) 25%, transparent 25%);
  background-position: 0 0;
}
.zigzag::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, var(--color-main) 25%, transparent 25%), linear-gradient(225deg, var(--color-main) 25%, transparent 25%);
  background-position: 0 0;
}

/*dl dt dd*/

dl.simple-list {
	background-color:#fff;
}
dl.simple-list dt {
	margin:0;
	padding:5px 10px;
	font-weight:bold;
	background-color:#e0e0e0;
}
dl.simple-list dd {
	padding: 5px 0px 20px;
}

/************************************************************/
/*subpage*/
/************************************************************/
.subpage{
	padding: 70px 0 100px;
}
.subpage-titlebox{
	width: 100%;
	background-image: url("../img/mainvisual_subpage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
}
.subpage-titleitem{
	margin: 30px auto;
	max-width: 800px;
	padding: 20px;
	background-color: rgba(255 255 255 / .7);
}

.subpage-titleitem ul.internal-btn-wrap li{
	margin-bottom: 20px;
}
.subpage-titleitem ul.internal-btn-wrap li:last-child{
	margin-bottom: 0;
}

/*breadcrumb　（パンくずリスト）*/
.breadcrumb {
	padding: 10px;
}

.breadcrumb li {
	display: inline;
}

.breadcrumb li:after {
	content: '>';
	padding: 0 10px;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	color: #333;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}


/************************************************************/
/*header*/
/************************************************************/
header .header-wrap{
	width: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
header .site-title {
	width: 150px;
}

header ul.pc-nav {
	display:flex; 
}

header ul.pc-nav li{
	margin-right: 20px;
}
header ul.pc-nav li:last-child{
	margin-right: 0;
}

header ul.pc-nav li a:hover{
	text-decoration: underline;
}




.openbtn{
	position:relative;
	cursor: pointer;
    width: 50px;
    height: 50px;
	background-color: var(--color-main);
}
	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


#g-nav.panelactive{
    position: fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

.circle-bg{
    position: fixed;
	z-index:998;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color-main);
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

#g-nav-list{
    display: none;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block;
}

#g-nav .nav-wrap{
	opacity: 0;
    position: absolute;
    z-index: 999;
	width: 100vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
	animation-name:gnaviAnime;
	animation-duration:1s;
	animation-delay:.2s;/*0.2 秒遅らせて出現*/
	animation-fill-mode:forwards;
	opacity:0;
}

@keyframes gnaviAnime{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
	}
}

#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: #fff;
	padding: 10px 0;
	display: block;
	font-weight: bold;
}
#g-nav li a:hover{
	text-decoration: underline; 
}

#g-nav .sns.flex-box{
	justify-content: center;
	margin-top: 20px;
}
#g-nav .sns.flex-box .flex-item.img{
	width: 50px;
	margin: 10px;
}
#g-nav .sns.flex-box .flex-item.img:hover{
	opacity: 0.7;
}

/************************************************************/
/*footer*/
/************************************************************/
footer{
	color: #fff;
	position: relative;
}
footer a{
	color: #fff;
}

#footer-pagetop{
    width: 126px;
    height: 126px;
    background-color: var(--color-main);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
#footer-pagetop:hover{
	opacity: 1;
}
#footer-pagetop img{
	width: 50px;
	margin-bottom: 5px;
}
footer .site-title{
	margin-bottom: 40px;
	width: 50%;
}

footer .footer-wrap{
	padding: 80px 4% 0;
	background-color: var(--color-main);
	background-color: var(--color-main);
}
footer .tel{
	font-size: 2.4rem;
}

footer .footer-box.flex-box{
	align-items: flex-start;
}

footer .footer-box.flex-box .flex-item{
	width: 32%;
	margin-bottom: 40px;
}

footer ul li{
	margin-bottom: 10px; 
	list-style-type: disc;
	margin-left: 1em;
}
footer ul li a:hover{
	text-decoration: underline;
}

footer .sns.flex-box{
	justify-content: left;
	margin-top: 40px;
}
footer .sns.flex-box .flex-item.img{
	width:50px;
	margin: 10px;
}
footer .sns.flex-box .flex-item.img:hover{
	opacity: 0.7;
}

footer .copyright{
	text-align:center;
	padding: 20px 0;
	margin-bottom: 0;
}


/************************************************************/
/*loading*/
/************************************************************/
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #fff;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
}

.loading-animation.is-active {
	opacity: 1;
	visibility: visible;
}

.loading-animation .img{
	width: 300px;
	margin: 0 auto;
}
.loading-005 {
	margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-005 span {
    display: inline-block;
    color: #333333;
    font-weight: 600;
    font-size: 1.5em;
    animation: animation-loading-005 1s infinite;
}

.loading-005 span:nth-of-type(2) {
    animation-delay: .1s;
}

.loading-005 span:nth-of-type(3) {
    animation-delay: .2s;
}

.loading-005 span:nth-of-type(4) {
    animation-delay: .3s;
}

.loading-005 span:nth-of-type(5) {
    animation-delay: .4s;
}

.loading-005 span:nth-of-type(6) {
    animation-delay: .5s;
}

.loading-005 span:nth-of-type(7) {
    animation-delay: .6s;
}

.loading-005 span:nth-of-type(8) {
    animation-delay: .7s;
}

.loading-005 span:nth-of-type(9) {
    animation-delay: .8s;
}

.loading-005 span:nth-of-type(10) {
    animation-delay: .9s;
}

@keyframes animation-loading-005 {
    50% {
        transform: translateY(10px);
    }
}

/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){
	.sp-only{
		display: none !important;
	}
	.pc-none{
		display: none !important;
	}
}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){
	.sp-only{
		display: none !important;
	}
	.pc-only{
		display: none !important;
	}
	
}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){
	
	.sec-title{
		font-size: 32px !important;
	}
	.sp-none{
		display: none !important;
	}
	.pc-only{
		display: none !important;
	}
	#mainvisual-sub{
		height: 250px;
	}
	
	footer .site-title{
		margin: 0 auto 40px;
	}
	footer .footer-box.flex-box{
		flex-direction: column;
	}
	footer .footer-box.flex-box .flex-item{
		width: 100%;
	}
}























