@charset "utf-8";
/* CSS Document */


/************************************************************/
/*syuukaku_list*/
/************************************************************/

#syuukaku_list .subpage-titlebox{
	background-image: url("../img/mainvisual_syuukaku_list.jpg");
}


#syuukaku_list .description{
	margin-bottom: 40px;
}
#syuukaku_list ul.syuukaku-wrap{
	padding: 0 4%;
	overflow: hidden;
}

#syuukaku_list .syuukaku-wrap li{
	padding-top: 80px;
}
#syuukaku_list ul.syuukaku-wrap li:last-child{
	margin-bottom: 40px;
}
#syuukaku_list h3{
	margin-bottom: 40px;
	font-size: clamp( 2.4rem, 2.4vw, 4.2rem);
	text-align: center;
}
#syuukaku_list h3 span{
	border-bottom: 5px dashed var(--color-main);
}

#syuukaku_list .timetable{
	overflow-x: auto;
	margin-bottom: 40px;
}

#syuukaku_list li:nth-child(2n){
	flex-direction: row-reverse;
}
#syuukaku_list li .img{
	width: 55%;
	position: relative;
}
#syuukaku_list li .img img{
	width: 100%;
	height: 400px;
	object-fit: cover;
	border-radius:36% 43% 41% 32% / 33% 33% 34% 53%;
}
#syuukaku_list li .text {
	width: 45%;
	padding: 0 4%;
}

/************************************************************/
/*pc*/
/************************************************************/
@media screen and (min-width: 1280px){

}
/************************************************************/
/*tablet*/
/************************************************************/
@media screen and ( max-width: 1279px) and (min-width: 768px){


}
/************************************************************/
/*sp*/
/************************************************************/
@media screen and (max-width: 767px){

	#syuukaku_list .timetable img{
		width: inherit;
	}
	#syuukaku_list li{
		flex-direction: column;
	}
	#syuukaku_list li .img,
	#syuukaku_list li .text{
		width: 100%;
		padding: 0 4%;
	}
	#syuukaku_list li .img{
		margin-bottom: 20px;
	}
}









